body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 20px;
    background-color: rgb(77, 9, 139);
    color: rgb(178, 206, 230);
}
button{
    background-color: black;
    color: aqua;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;                     /* separacion*/
    max-width: 400px;
    margin: 0 auto;
}
form label{
    font-weight: bold;
}
form input, form button{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(162, 229, 6);
    width: 100%;
} 